---
import BlogPost from "@components/BlogPost.astro";
import BaseLayout from "src/layouts/BaseLayout.astro";
import "../styles/global.css";

const allPosts = await Astro.glob('../pages/posts/*.md')

---
<BaseLayout pageTitle="Blog Page">
  <p>Something is baking hereee...</p>
  <ul>
    {allPosts.map(post =><BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>
